html, body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #354657;
}

body {
	margin: 0;
	background-image: url("../img/background.svg");
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.header, .footer, .breadcrumbs {
	padding-left: 16.66%;
	padding-right: 16.66%;
}

.header {
	background-color: #F8F4FC;
	padding-top: 0.75rem;
	padding-bottom: 1rem;

	// классы из menu которые изменяются для header'а
	.search-list {
		width: 134px;
		justify-content: space-between;
	}

	.menu__item {
		margin: 0 25px;
	}
}

// общий класс для header'а и footer'а
.menu {
	display: flex;
	justify-content: space-between;

	// Разделение на два флекса для автоматического расстояния между ничи через space-between
	&__sub {
		display: flex;
	}

	&__links {
		display: flex;
	}

	&__logo {
		margin: auto 0;
		margin-right: 65px;
		width: 267px;
		height: 58px;
	}

	&__list {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		display: flex;
		align-items: center;
	}
	
	// Каталог, обучение и т.д.
	.navigation__item {
		display: flex;
		align-items: center;
	}

	// Поиск, профиль, корзина
	.navigation__link {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: #354657;
		font-weight: 700;
	}
}

.breadcrumbs {
	display: flex;
	background-color: #F8F4FC;
	padding-bottom: 1rem;

	&__list {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		display: flex;
		align-items: center;
		
		&::before {
			content: '\2192';
			margin: 0 10px;
		}
		
		.page-current {
			text-decoration: none;
		}
	}

	&__link {
		color: #626262;
	}

	&__icon {
		display: flex;
		align-items: center;
	}
}

// Обычный блочный div
.content {
	padding-top: 70px;
	padding-bottom: 100px;

	&__title {
		text-align: center;
		font-size: 1.875rem;
		font-weight: 700;
		margin-bottom: 40px;
	}

	&__body {
		padding-left: 27.4%;
		padding-right: 34%;
	}

	&__text {
		margin-top: 40px;
	}

	&__image {
		max-width: 100%;
		height: auto;
	}

	&__quote {
		color: #7D7D7D;
		margin-top: 40px;
		padding: 1.5rem;
		padding-top: 6px;
		
		border-left: 4px solid #946FD3; 
		.quote-commas {
			display: block;
			color: #946FD3;
			font-size: 2rem;
			margin-bottom: 0.75rem;
		}
	}

	&__line {
		border: 1px solid #E2E2E2;
		margin-top: 30px;
		margin-bottom: 20px;
	}

	// Несколько иконок на одной картинке.
	&__websites {
		margin-top: 5px;

		a {
			display: inline-block;
			height: 26px;
			background-image: url("../img/websites.svg");
		}
	}

	.websites__icon-1 {
		background-position: 0 0;
		width: 96px;
	}

	.websites__icon-2 {
		background-position: -95px 0;
		width: 80px;
	}

	.websites__icon-3 {
		background-position: -177px 0;
		width: 88px;
	}

	.websites__icon-4 {
		background-position: -266px 0;
		width: 76px;
	}

	.websites__icon-5 {
		background-position: -342px 0;
		width: 98px;
	}
}

.footer {
	background-color: white;
	border-top: 1px solid #E2E2E2;
	box-sizing: border-box;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;

	.menu__item {
		margin: 0 20px;
	}

	.navigation__item {
		margin: 0 0.5rem;
	}

	.navigation__item:last-child {
		margin-left: 2rem;
	}
}