html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #354657; }

body {
  margin: 0;
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%; }

.header, .footer, .breadcrumbs {
  padding-left: 16.66%;
  padding-right: 16.66%; }

.header {
  background-color: #F8F4FC;
  padding-top: 0.75rem;
  padding-bottom: 1rem; }
  .header .search-list {
    width: 134px;
    justify-content: space-between; }
  .header .menu__item {
    margin: 0 25px; }

.menu {
  display: flex;
  justify-content: space-between; }
  .menu__sub {
    display: flex; }
  .menu__links {
    display: flex; }
  .menu__logo {
    margin: auto 0;
    margin-right: 65px;
    width: 267px;
    height: 58px; }
  .menu__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }
  .menu__item {
    display: flex;
    align-items: center; }
  .menu .navigation__item {
    display: flex;
    align-items: center; }
  .menu .navigation__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #354657;
    font-weight: 700; }

.breadcrumbs {
  display: flex;
  background-color: #F8F4FC;
  padding-bottom: 1rem; }
  .breadcrumbs__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }
  .breadcrumbs__item {
    display: flex;
    align-items: center; }
    .breadcrumbs__item::before {
      content: '\2192';
      margin: 0 10px; }
    .breadcrumbs__item .page-current {
      text-decoration: none; }
  .breadcrumbs__link {
    color: #626262; }
  .breadcrumbs__icon {
    display: flex;
    align-items: center; }

.content {
  padding-top: 70px;
  padding-bottom: 100px; }
  .content__title {
    text-align: center;
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 40px; }
  .content__body {
    padding-left: 27.4%;
    padding-right: 34%; }
  .content__text {
    margin-top: 40px; }
  .content__image {
    max-width: 100%;
    height: auto; }
  .content__quote {
    color: #7D7D7D;
    margin-top: 40px;
    padding: 1.5rem;
    padding-top: 6px;
    border-left: 4px solid #946FD3; }
    .content__quote .quote-commas {
      display: block;
      color: #946FD3;
      font-size: 2rem;
      margin-bottom: 0.75rem; }
  .content__line {
    border: 1px solid #E2E2E2;
    margin-top: 30px;
    margin-bottom: 20px; }
  .content__websites {
    margin-top: 5px; }
    .content__websites a {
      display: inline-block;
      height: 26px;
      background-image: url("../img/websites.svg"); }
  .content .websites__icon-1 {
    background-position: 0 0;
    width: 96px; }
  .content .websites__icon-2 {
    background-position: -95px 0;
    width: 80px; }
  .content .websites__icon-3 {
    background-position: -177px 0;
    width: 88px; }
  .content .websites__icon-4 {
    background-position: -266px 0;
    width: 76px; }
  .content .websites__icon-5 {
    background-position: -342px 0;
    width: 98px; }

.footer {
  background-color: white;
  border-top: 1px solid #E2E2E2;
  box-sizing: border-box;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }
  .footer .menu__item {
    margin: 0 20px; }
  .footer .navigation__item {
    margin: 0 0.5rem; }
  .footer .navigation__item:last-child {
    margin-left: 2rem; }

/*# sourceMappingURL=style.css.map */
