@font-face {
	font-family: verdana-bold;
	src: url("../fonts/Verdana\ Bold.ttf");
}

@font-face {
	font-family: verdana;
	src: url("../fonts/Verdana.ttf");
}

html {
	font-size: 20px;
	font-family: Verdana, Courier;
}

body {
	margin: 0;
	background-color: rgba(0, 0, 0, 0.7);
	background-image: url("../img/background@1X.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: darken;
}

a {
	text-decoration: none;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding: 2rem 0;
}

.header__logo {
	color: white;
	float: left;
	font-family: verdana-bold, Courier;
}

.header__logo::before {
	content: '';
	background-image: url("../img/logo@1X.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 58px;
	height: 55px;
	float: left;
}

.header__logo > div {
	float: left;
}

.header__logo > div > div:first-child {
	font-size: 1.45rem;
	float: left;
	margin-left: 15px;
}

.header__logo > div > div:last-child {
	line-height: 1rem;
	font-size: 0.9rem;
	float: left;
	clear: left;
	margin-left: 15px;
}

.contacts {
	float: right;
}

.contacts a {
	color: white;
}

.contacts div:last-child {
	text-align: right;
}

.content-row, .content-row2 {
	clear: left;
	overflow: auto;
}

.content-row > div:nth-child(3), .content-row2 > div:nth-child(3) {
	margin-right: 0;
}

.content-row2 > div, .content-row > div {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	color: white;
}

.content-row2 > div:first-child {
	clear: left;
}

.content-row__container {
	width: 307px;
	height: 200px;
	border: 2px solid white;
	border-image: linear-gradient(white, black);
	border-image-slice: 1;
	float: left;
	margin-right: 16%;
	box-sizing: border-box;
	position: relative;
}

.content-row__container > div {
	background-size: cover;
	background-repeat: no-repeat;
}

.content-row__container:nth-of-type(1) > div {
	background-image: url("../img/Layer\ 21@1X.png");
	width: 100%;
	height: 100%;
}

.content-row__container:nth-of-type(2) > div {
	background-image: url("../img/Layer\ 22@1X.png");
	width: 100%;
	height: 100%;
}

.content-row__container:nth-of-type(3) > div {
	background-image: url("../img/Layer\ 23@1X.png");
	width: 100%;
	height: 100%;
}

.content-row__container:nth-of-type(4) > div {
	background-image: url("../img/Layer\ 24@1X.png");
	width: 100%;
	height: 100%;
}

.content-row__container:nth-of-type(5) > div {
	background-image: url("../img/Layer\ 25@1X.png");
	width: 100%;
	height: 100%;
}

.content-row__container:nth-of-type(6) > div {
	background-image: url("../img/Layer\ 26@1X.png");
	width: 100%;
	height: 100%;
}

.content-row__container p {
	text-align: center;
}

.content-row__container > div > div {
	height: 0;
	width: 100%;
	background-color: #f26522;
	position: absolute;
	bottom: 0;
	overflow: hidden;
	transition: all 0.2s
}

.content-row__container:hover > div > div {
	height: 63px;
}

.content-row__container:hover > p {
	color: #f26522;
}

.content-row__container span {
	float: left;
	position: absolute;
	margin: 0;
	left: 1rem;
}

.content-row__container span:first-of-type {
	bottom: 1.75rem;
	font-size: 0.5rem;
}

.content-row__container span:last-of-type {
	bottom: 0.65rem;
}

.content-row__container a, .content-row__container img {
	float: right;
	position: absolute;
	margin: 0;
	color: white;
}

.content-row__container a {
	right: 2rem;
	bottom: 0.8rem;
	font-size: 0.75rem;
}

.content-row__container img {
	right: 1rem;
	bottom: 0.95rem;
}

.footer {
	clear: both;
	position: absolute;
	font-size: 0.75rem;
	bottom: 20px;
	left: 37%;
	color: white;
	box-sizing: border-box;
}