html, body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

.headline {
	padding-top: 188px;
	padding-bottom: 1rem;
	font-weight: 700;
	border-bottom: 1px solid #E2E2E2;
	margin-left: 15px;
}

.parfume {
	.parfume__oils {
		.parfume__oils-headliner {
			font-weight: 700;
			font-size: 1.5rem;
		}
		.parfume__oils-text {
			margin-top: 15px;
			margin-bottom: 30px;
		}
		.parfume__oils-readmore {
			display: block;
			width: 206px;
			border: 2px solid #946FD3;
			border-radius: 50px;
			text-align: center;
			text-decoration: none;
			color: #946FD3;
			padding: 0.5rem 1rem;
		}
		color: #354657;
		margin-top: 2rem;
		overflow: hidden;
	}
}

.footer {
	box-sizing: border-box;
	padding-top: 38px;
	padding-bottom: 40px;
	border-top: 1px solid #E2E2E2;
	margin-top: 100px;
	.footer__block {
		.footer__block-text {
			a {
				margin-top: 1rem;
				text-decoration: none;
				cursor: pointer;
				color: #354657;
			}
		}
		.social-links {
			margin-top: 0.5rem;
			text-align: right;
		}
	}
}