@font-face {
	font-family: "Myriad Pro Regular";
	src: url('../fonts/myriadpro-regular.otf');
}

html {
	font-size: 20px;
}

body {
	font-family: "Myriad Pro Regular", Courier;
	width: 80%;
	margin: 0 auto;
}

h1 {
	font-size: 4rem;
}

.rambda {
	text-decoration: none;
	color: black;
}

.mda {
	color: #4bcaff;
}

.header__navigation {
	list-style: none;
	background-color: #35444f;
	padding: 0;
	text-align: center;
}

.header__navigation li {
	display: inline-block;
	/* background-color: #222f3a; */
	width: 18%;
}

.header__navigation a {
	text-decoration: none;
	color: white;
	display: inline-block;
	box-sizing: border-box;
	padding: 1rem 0;
	width: 100%;
}

.header__navigation a:hover {
	background-color: #222f3a;
	border-left: 1px solid white;
	border-right: 1px solid white;
	transition: all 0.25s;
}

.content__menu {
	width: 20%;
	display: inline-block;
}

.content__navigation {
	list-style: none;
	padding: 0;
	margin-top: 1rem;
	border: 1px solid #35444f;
	display: block;
}

.content__navigation a {
	text-decoration: none;
	color: #485863;
	width: 100%;
	display: block;
	padding: 1rem 0 1rem 1rem;
}

.content__navigation li {
	display: block;
}

.content__navigation li:hover {
	background-color: #dbdbdb;
}

.content__navigation a:hover {
	color: #000000;
	margin-left: 1rem;
}

.content__article {
	margin-top: 1rem;
	float: right;
	width: 75%;
}

.content__article > div {
	border: 1px solid black;
}

.content__article img {
	display: block;
	margin: 75px auto 73px;
}

.content__article p {
	margin: 1.5rem 1rem;
}

.footer__navigation {
	background-color: #b4b7ba;
	clear: both;
	padding: 0;
}

.footer__navigation li {
	display: inline-block;
}

.footer__navigation a {
	text-decoration: none;
	color: #0c1927;
	width: 100%;
	float: left;
	padding: 1rem 1rem;
}

.footer__navigation a:hover {
	color: #3181a6;
	text-decoration: underline;
}

.footer__navigation::after {
	content: "Copyright © 2018";
	float: right;
	margin-top: 1rem;
	margin-right: 1rem;
}