@font-face {
	font-family: myriadpro;
	src: url('../fonts/myriadpro-regular.otf');
}

:root {
	font-family: myriadpro, sans-serif;
}

body {
	margin: 0 auto;
	width: 750px;
	background-color: lightgrey;
	font-size: 24px;
}

.header {
	background-color: #2d7053;
	height: 235px;
}

.header img {
	float: left;
	padding: auto;
	margin: 47px 38px;
}

.header__info {
	float: left;
	padding: auto;
	margin: 19px 0;
}

.header__burger {
	float: right;
	margin: 67px 32px;
}

.header__info > p {
	color: #ffffff;
	font-size: 1.25em;
}

.header__burger > div {
	background-color: #ffffff;
	border-radius: 20px;
	width: 84px;
	height: 12px;
	margin: 18px auto;
}

.office {
	height: 466px;
	background-color: #ffffff;
	background-image: url("../img/office.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.office__btn {
	padding-top: 345px;
	text-align: center;
}

.office__btn a {
	width: 340px;
	display: inline-block;
	text-decoration: none;
	background-color: #cb9223;
	color: #ffffff;
	padding: 28px 44px;
}

.description {
	background-color: #ffffff;
	/* padding: 73px 116px 0 44px; */
	padding-top: 73px;
	padding-bottom: 50px;
}

.descrition_container {
	margin: 0 116px 0 44px;
}

.photo {
	border-radius: 50%;
}

.fullname {
	float: right;
	white-space: pre-line;
	margin: 61px 25px 80px 60px;
}

.fullname span {
	font-size: 1.5em;
}

.description__headline {
	font-size: 1.5em;
	margin-top: 1.5em;
}

.description__btn a {
	width: 340px;
	display: inline-block;
	text-decoration: none;
	background-color: #cb9223;
	color: #ffffff;
	padding: 28px 44px;
	text-align: center;
	margin-left: 161px;
}

.footer {
	background-color: #888888;
	height: 153px;
}

.footer a, .footer span {
	font-size: 0.8em;
	text-decoration: none;
	color: #ffffff;
}

.circle {
	float: left;
	width: 96px;
	height: 96px;
	border-radius: 50%;
	background-color: #ffffff;
	margin: 29px 0 28px 45px;
}

.tel {
	float: right;
	margin-top: 56px;
	margin-right: 44px;
}

.email {
	float: right;
	margin: 102px -145px 0px;
}

.address {
	display: block;
	float: left;
	margin-top: 104px;
	margin-left: 158px;
}